* {
    box-sizing: border-box;
}

#app {
    max-width: 720px;
    text-align: center;
    margin: 0 auto;
    padding: 10px;
}

.header__sections {
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
}

.sections__button {
    width: 100%;
}

.upload, .identify, {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.upload > *, .identify > *, label {
    text-align: left;
    margin: 10px 0;
}

.upload__button, .identify__button {
    max-width: 300px;
    margin-top: 20px;
}

.upload__button:hover, .identify__button:hover {
    background-color: rgb(66,139,202);
    color: white
}

#nameUpload {
    width: 300px;
}

.preview__image {
    display: block;
    max-width: 200px;
    max-height: 200px;
}

.footer {
    margin-top: 20px;
}